/ejercicio1/nbproject/private/
/ejercicio2/nbproject/private/
/ejercicio11.1.1/nbproject/private/
/ejercicio11.1.2/nbproject/private/
/ejercicio11.1.2/build/
/ejercicio11.1.3/nbproject/private/
/Ejercicio11.1.4/nbproject/private/
/ejercicio11.1.5/nbproject/private/
/ejercicio11.1.6/nbproject/private/
/cambio de variables/nbproject/private/
/cambio de variables/build/
/arreglo unidimencional/nbproject/private/
/arreglo unidimencional/build/
